In [1]:
import numpy as np
import pandas as pd
ser = pd.Series([1,2,3], index=["a","b","c"])

a    1
b    2
c    3
dtype: int64

In [4]:
data=[{'a':i,'b':2*i} for i in range(4)] 
df= pd.DataFrame(data)
df

   a  b
0  0  0
1  1  2
2  2  4
3  3  6

In [7]:
ser.loc['b']

NameError: name 'ser' is not defined

In [8]:
import numpy as np
import pandas as pd
ser = pd.Series([1,2,3], index=["a","b","c"])
ser.loc['b']

2

In [9]:
ser.iloc[0]

1

In [11]:
ser.iloc[2]

3

In [12]:
ser.iloc[1]

2

In [14]:
df1 = make_df('ABC', range(3))

NameError: name 'make_df' is not defined